# A configuration file for Spotted on Spotify
# Included for structure and readability

VERSION='1.0.0'

YOUTUBE_DL_OPTS={
  'format' : 'bestaudio',
  'postprocessors' : [{
    'key' : 'FFmpegExtractAudio',
    'preferredcodec' : 'mp3',
    'preferredquality' : '256'
  }],
  'quiet' : True,
  'no_warnings' : True,
  'outtmpl' : '/tmp/download.mp3'
}

SPOTIPY_SCOPE = 'playlist-modify-public'
SPOTIPY_CLIENT_ID=''
SPOTIPY_CLIENT_SECRET=''
SPOTIPY_REDIRECT_URI='https://github.com/anthonymirand/SpottedOnSpotify-cmdline'

ACOUSTID_API_KEY=''
